*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color:midnightblue;
}

.navbar .nav-link {
    font-size: 20px;
    color: white;
}

.barra {
    width: 100%;
    height: 10px;
    background-color:black;
}

.barra-rodape {
    width: 100%;
    height: 40px;
    background-color: black;
}

/*Menu Horizontal*/

#menu-horizontal ul {
    list-style: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: midnightblue;
}
  @media all and (max-width: 560px) {
    
    #menu-horizontal ul {
        flex-direction: column;
    }
  }

 #menu-horizontal ul a {
    padding: 0.3em 3em;
    position: relative;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
 }


#menu-horizontal a:hover {
    background-color: blue;

}

/*cabeçalho*/

header img {
    height: 75px;
    width: 75px;
}

/*Conteudo principal*/

main{
    min-height: 500px;
}

/*banner*/

#section-banners img{
    height: 500px;
}

/*Ofertas - Antigo Produtos Vendidos*/

#section-ofertas {
    text-align: center;
}

#section-ofertas h2{
    font-weight: bold;
    padding: 20px;
}

#section-ofertas img{
    height: 300px;
    border-radius: 10px;
}

#section-ofertas .card{
    margin: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}

#section-ofertas .preco{
    color: red;
    font-size: 18px;
    font-weight: bold;
}

/*Card Horizontal - Games antigos*/

#card-horizontal{
    margin-top: 30px;
    padding: 10px;
    background-color: midnightblue;
}

#card-horizontal .card{
    background-color: midnightblue;
    border: none;
}

#card-horizontal .card-title{
    font-size: 40px;
    padding-top: 30px;
    font-weight: bold;
    color: white;
}

#card-horizontal p{
    color: white;
    padding-top: 80px;
    font-size: 20px;
}

/*Rodapé*/

.rodape img {
    float: left;
}

.redes-sociais img {
    float: right;
}

footer {
    background: white;
    text-align: center;
}

footer p {
    font-weight: bold;
    padding: 5px;
    color:black;
}

footer img {
    height: 75px;
    width: 75px;
}

footer ul {
    list-style: none;
}

.redes-sociais img {
    margin: 5px;
    height: 30px;
    width: 30px;
}

.contatos {
    float: left;
    font-size: 10px;
    display: flex;
}

/*Botão Voltar topo*/

#voltar-topo {
    position: fixed;
    bottom: 5px;
    right: 160px;
}

/* página de login  */

#section-login {
    margin-top: 100px;
}

#section-login h1 {
    text-align: center;
}

#section-login input {
    width: 100%;
}
/* Formulário de cadastro*/

#section-cadastro {
    padding: 5px;
    text-align: center;
    background-color: white;
}

#form-cadastrar {
    padding: 50px;
    display: none;
}